# Air transportation Ocurrences
## Preprocessing

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
sys.path.append("../scripts")

In [4]:
from data_loader import load_data_from_csv
from common.export_csv import exportDataVersion
import pandas as pd
import numpy as np

### <font color=#43599e>Loading Data</font>

In [6]:
#Load data
df = load_data_from_csv('fullData_V1.csv')
#Data length
print(f"# of rows 'fullData_V1.csv': {len(df)}")

# of rows 'fullData_V1.csv': 48454

C:\Users\camii\Documents\U\Term 1\Term 1\Data Analytics\Project\Airplane_Accidents_Analytics\notebooks\../scripts\data_loader.py:7: DtypeWarning: Columns (41,47,59,64) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(filepath)

In [7]:
df.head()

,OccID,OccNo,AirportID_AirportName,AirportID_CountryID_DisplayEng,AirportID_ProvinceID_DisplayEng,Location,Latitude,Longitude,ICAO,BearingID_Abbr,...,DepartAirportID_AirportName,FlightPlanTypeID_DisplayEng,OperationTypeID_DisplayEng,CarsSubpartID_DisplayEng,FlightNo,DangerousGoodEnum_DisplayEng,ICAODepart,ICAODestination,SurvivableEnum_DisplayEng,ICAO_DisplayEng
0,150172,A17A0047,NaN,NaN,NaN,NaN,46.284740,63.644120,NaN,NaN,...,NaN,NaN,PLEASURE/TRAVEL,RECREATIONAL AVIATION,NaN,No,NaN,\r,\N,COLLISION WITH OBSTACLE(S) DURING TAKEOFF AND ...
1,150171,A17C0081,Industrial Park,CANADA,MANITOBA,Gimli,50.772778,96.821389,CYGM,NE,...,ST. THERESA POINT,VFR FLIGHT ITINERARY,AIR TRANSPORT,703 - AIR TAXI,C-GWCP,Unknown,CYST,CYAV\r,\N,SYSTEM/COMPONENT FAILURE OR MALFUNCTION (NON-P...
2,150170,A17F0159,San Francisco Intl,UNITED STATES,CALIFORNIA,San Francisco,37.638169,122.375428,KSFO,NaN,...,Lester B. Pearson Intl,ICAO IFR FLIGHT PLAN,AIR TRANSPORT,705 - AIRLINER,ACA759,No,CYYZ,KSFO\r,Yes\r,NAVIGATION ERRORS (NAV)
3,150169,A17C0080,FORT FRANCES MUNI,CANADA,ONTARIO,FORT FRANCES,48.650000,93.500000,CYAG,W,...,FORT FRANCES MUNI,VFR FLIGHT ITINERARY,AIR TRANSPORT,704 - COMMUTER,BLS345,No,CYAG,CYQK\r,\N,TURBULENCE ENCOUNTER (TURB)
4,150168,A17C0079,Baker Lake,CANADA,NUNAVUT,Baker Lake,66.448611,92.464444,CYBK,NW,...,NaN,VFR FLIGHT ITINERARY,AIR TRANSPORT,703 - AIR TAXI,C-GGSV,No,NaN,\r,\N,COLLISION WITH OBSTACLE(S) DURING TAKEOFF AND ...

In [8]:
df = df.replace("NaN", np.nan)
print(df.isnull().sum())
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

OccID                                  0
OccNo                                  0
AirportID_AirportName              26981
AirportID_CountryID_DisplayEng     26981
AirportID_ProvinceID_DisplayEng    27603
                                   ...
DangerousGoodEnum_DisplayEng           2
ICAODepart                         22715
ICAODestination                        0
SurvivableEnum_DisplayEng              0
ICAO_DisplayEng                        2
Length: 78, dtype: int64

### <font color=#43599e>Deleting features without data</font>

In [10]:
df = df.drop(columns=['BearingID_Abbr', 'BearingID_CompassPoint', 'AirportID_AirportName', 
              'AirportID_CountryID_DisplayEng', 'Location', 'AirportID_ProvinceID_DisplayEng',
             'ICAO', 'BearingID_Highest', 'BearingID_Lowest', 'BearingID_Middle',
              'Distance','DistanceEnumEng', 'LocationDescription',
              'DistanceEnumEng', 'SeriousIncidentEnum_DisplayEng', 'TimeZoneID_DisplayEng',
             'IIC_FullName','CommonName', 'TotalFatalCount', 'TotalMinorCount', 'TotalNoneCount',
             'TotalSeriousCount', 'TotalUnknownCount', 'NoAircraftInvolved', 'SafetyCommIssuedEnum', 'AcID',
             'AircraftVersion','AircraftID', 'SerialNo', 'AircraftModelID_DisplayEng', 'AircraftSeries', 'AircraftCommonNameID_DisplayEng',
             'WeightCategoryID_MaxWeightCat', 'WeightCategoryID_MinWeightCat', 'MaxTakeOffWeight', 'DestAirportID_AirportName',
             'DepartAirportID', 'DepartAirportID_AirportName', 'FlightPlanTypeID_DisplayEng', 'CarsSubpartID_DisplayEng', 
             'FlightNo', 'DangerousGoodEnum_DisplayEng', 'ICAODestination', 'SurvivableEnum_DisplayEng', 'ICAO_DisplayEng'])

In [11]:
print(df.isnull().sum())

OccID                                      0
OccNo                                      0
Latitude                                   0
Longitude                                  0
CountryID_DisplayEng                       0
OccClassID_DisplayEng                      0
OccDate                                    0
OccIncidentTypeID_DisplayEng           20182
OccRegionID_DisplayEng                    30
OccTime                                    0
OccTypeID_DisplayEng                       0
TsbInvolveID_DisplayEng                11896
OceanID_DisplayEng                     47166
PositionTypeEnum_DisplayEng                0
ProvinceID_DisplayEng                   2442
InitTSBNotifDate                           0
ReportedByID_DisplayEng                    0
RespRegionID_DisplayEng                  131
Summary                                   99
InjuriesEnum_DisplayEng                    0
DeployedEnum_DisplayEng                  139
RegistrationNo                             1
AircraftTypeID_DisplayEng                  2
AircraftMakeID_DisplayEng               1040
OrganizationID_DisplayEng              11962
OperatorTypeID_DisplayEng               2821
WeightCategoryID_DisplayEng               75
LandingGearID_DisplayEng                9648
WakeTurbulenceCategoryID_DisplayEng     1796
YearOfManuf                                0
NumberOfEngine                             0
DamageLevelID_DisplayEng                1509
OperationTypeID_DisplayEng              3260
ICAODepart                             22715
dtype: int64

### <font color='purple'>FullData_V2</font>
Contains the dataset with features to use

In [13]:
#exportDataVersion(df, 2)

### <font color=#43599e>Handling nulls</font>

#### Latitude and Longitude
Latitude and longitud have no nulls but 0 values.

In [233]:
from preprocessing.constants_preprocessing import OCEAN_COORDINATES, OCEAN_PROVINCES_COORDINATES, COUNTRY_PROVINCE_COORDINATES, COUNTRIES_COORDINATES

In [235]:
df_handling_lat_lon = df.copy(); 
filtered_df_lat_lon = df[(df_handling_lat_lon["Latitude"] == 0) & (df_handling_lat_lon["Longitude"] == 0)]
print(f"Number of rows: {len(filtered_df_lat_lon)}")

Number of rows: 1501

In [237]:
columns_to_include = ["Latitude", "Longitude", "CountryID_DisplayEng", "OccRegionID_DisplayEng", "OceanID_DisplayEng", 
                      "ProvinceID_DisplayEng", "RespRegionID_DisplayEng"] 

filtered_df_lat_lon = filtered_df_lat_lon[columns_to_include]
filtered_df_lat_lon.head(10)

,Latitude,Longitude,CountryID_DisplayEng,OccRegionID_DisplayEng,OceanID_DisplayEng,ProvinceID_DisplayEng,RespRegionID_DisplayEng
14,0.0,0.0,INTERNATIONAL WATERS,FOREIGN,NORTH ATLANTIC OCEAN,NaN,HEAD OFFICE
24,0.0,0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
30,0.0,0.0,INTERNATIONAL WATERS,FOREIGN,NORTH ATLANTIC OCEAN,NaN,HEAD OFFICE
86,0.0,0.0,CANADA,ATLANTIC,NaN,NOVA SCOTIA,ATLANTIC
100,0.0,0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
234,0.0,0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
449,0.0,0.0,UNITED STATES,FOREIGN,NaN,NORTH CAROLINA,HEAD OFFICE
467,0.0,0.0,CANADA,ATLANTIC,NaN,QUEBEC,ATLANTIC
890,0.0,0.0,CANADA,QUEBEC,NaN,QUEBEC,QUEBEC
1224,0.0,0.0,CANADA,QUEBEC,NaN,QUEBEC,QUEBEC

In [240]:
def calculate_coordinates(row):
    if(row["OceanID_DisplayEng"] is not None and not pd.isna(row["OceanID_DisplayEng"])):
        return OCEAN_COORDINATES[row["OceanID_DisplayEng"]]
        
    elif row["CountryID_DisplayEng"] == "INTERNATIONAL WATERS":
        if(row["OceanID_DisplayEng"] is not None): 
            return OCEAN_COORDINATES[row["OceanID_DisplayEng"]]
            
    elif(row["OccRegionID_DisplayEng"] in OCEAN_PROVINCES_COORDINATES):
        if(row["ProvinceID_DisplayEng"] in OCEAN_PROVINCES_COORDINATES[row["OccRegionID_DisplayEng"]]):
            return OCEAN_PROVINCES_COORDINATES[row["OccRegionID_DisplayEng"]][row["ProvinceID_DisplayEng"]]

    elif(row["CountryID_DisplayEng"] in COUNTRY_PROVINCE_COORDINATES):
        if(row["ProvinceID_DisplayEng"] in COUNTRY_PROVINCE_COORDINATES[row["CountryID_DisplayEng"]]):
            return COUNTRY_PROVINCE_COORDINATES[row["CountryID_DisplayEng"]][row["ProvinceID_DisplayEng"]]
    
    elif(pd.isna(row["ProvinceID_DisplayEng"]) and row["OccRegionID_DisplayEng"] == "FOREIGN"):
        if(row["CountryID_DisplayEng"] in COUNTRIES_COORDINATES):
            return COUNTRIES_COORDINATES[row["CountryID_DisplayEng"]]
    return [0,0]

In [242]:
for idx, row in filtered_df_lat_lon.iterrows():
    new_lat, new_lon = calculate_coordinates(row)  #New values
    #Update data in original df
    df_handling_lat_lon.at[idx, "Latitude"] = new_lat        
    df_handling_lat_lon.at[idx, "Longitude"] = new_lon

In [244]:
#updated_rows = df_handling_lat_lon.loc[filtered_df_lat_lon.index]
#updated_rows.head()

filtered_df_lat_lon = df[(df_handling_lat_lon["Latitude"] == 0) & (df_handling_lat_lon["Longitude"] == 0)]
filtered_df_lat_lon = filtered_df_lat_lon[columns_to_include]
filtered_df_lat_lon.head(30)

,Latitude,Longitude,CountryID_DisplayEng,OccRegionID_DisplayEng,OceanID_DisplayEng,ProvinceID_DisplayEng,RespRegionID_DisplayEng
3887,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
6330,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
7321,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,QUEBEC
8046,0.0,0.0,CANADA,WESTERN,NaN,NaN,WESTERN
9519,0.0,0.0,UNITED KINGDOM,WESTERN,NaN,NaN,WESTERN
15081,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
15363,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
17944,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
22465,0.0,0.0,MEXICO,QUEBEC,NaN,NaN,QUEBEC
22832,0.0,0.0,HONG KONG,WESTERN,NaN,NaN,WESTERN
23628,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,NaN
24973,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,NaN
28316,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,WESTERN
28973,0.0,0.0,UNITED KINGDOM,NORTH ATLANTIC,NaN,NaN,QUEBEC
29437,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
29938,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
30286,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,WESTERN
31967,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,WESTERN
34418,0.0,0.0,MEXICO,QUEBEC,NaN,NaN,QUEBEC
34424,0.0,0.0,BELGIUM,QUEBEC,NaN,NaN,QUEBEC
34966,0.0,0.0,UNITED STATES,WESTERN,NaN,NaN,WESTERN
38863,0.0,0.0,CHINA,ONTARIO,NaN,NaN,ONTARIO
40105,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
40450,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
40536,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
41846,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
41851,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
41865,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
41924,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,PACIFIC
41939,0.0,0.0,CANADA,WESTERN,NaN,NaN,WESTERN

In [227]:
unique_values = filtered_df_lat_lon["CountryID_DisplayEng"].unique()
print(unique_values)

['UNKNOWN' 'UNITED STATES' 'CANADA' 'UNITED KINGDOM' 'MEXICO' 'HONG KONG'
 'BELGIUM' 'CHINA' 'ITALY' 'JAPAN']

In [229]:
print(f"Number of rows: {len(filtered_df_lat_lon)}")

Number of rows: 36

In [149]:
unique_comb_df = df_handling_lat_lon[(df_handling_lat_lon["CountryID_DisplayEng"] == "CHILE")]
unique_combinations = unique_comb_df[["CountryID_DisplayEng", "ProvinceID_DisplayEng"]].drop_duplicates()
print(unique_combinations)

    CountryID_DisplayEng ProvinceID_DisplayEng
511                CHILE                   NaN