# Air transportation Ocurrences
## Preprocessing

In [106]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [107]:
import sys
sys.path.append("../scripts")

In [108]:
from data_loader import load_data_from_csv
from common.export_csv import exportDataVersion
import pandas as pd
import numpy as np

### <font color=#43599e>Loading Data</font>

In [110]:
#Load data
df = load_data_from_csv('fullData_V1.csv')
#Data length
print(f"# of rows 'fullData_V1.csv': {len(df)}")

# of rows 'fullData_V1.csv': 48454

In [111]:
df = df.replace("NaN", np.nan)
print(df.isnull().sum())
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
df.head()

OccID                                      0
OccNo                                      0
AirportID_AirportName                  26981
AirportID_CountryID_DisplayEng         26981
AirportID_ProvinceID_DisplayEng        27603
Location                               26981
Latitude                                   0
LatEnum_DisplayEng                      1423
Longitude                                  0
LongEnum_DisplayEng                     1608
ICAO                                   26981
BearingID_Abbr                         44445
BearingID_CompassPoint                 44445
BearingID_Highest                          0
BearingID_Lowest                           0
BearingID_Middle                           0
CountryID_DisplayEng                       0
Distance                                   0
DistanceEnumEng                        44445
LocationDescription                     8646
OccClassID_DisplayEng                      0
OccDate                                    0
OccIncidentTypeID_DisplayEng           20182
OccRegionID_DisplayEng                    30
OccTime                                  301
OccTypeID_DisplayEng                       0
TsbInvolveID_DisplayEng                11894
OceanID_DisplayEng                     47168
PositionTypeEnum_DisplayEng                0
ProvinceID_DisplayEng                   2442
InitTSBNotifDate                           0
ReportedByID_DisplayEng                    0
RespRegionID_DisplayEng                  131
SeriousIncidentEnum_DisplayEng         20181
TimeZoneID_DisplayEng                  10844
IIC_FullName                            7253
Summary                                   97
CommonName                             29563
TotalFatalCount                            0
TotalMinorCount                            0
TotalNoneCount                             0
TotalSeriousCount                          0
TotalUnknownCount                          0
NoAircraftInvolved                         0
InjuriesEnum_DisplayEng                    0
DeployedEnum_DisplayEng                  139
SafetyCommIssuedEnum                       0
AcID                                       0
AircraftID                                 0
AircraftVersion                            0
RegistrationNo                             0
SerialNo                                6135
AircraftTypeID_DisplayEng                  2
AircraftModelID_DisplayEng              1083
AircraftMakeID_DisplayEng               1038
AircraftSeries                         44367
AircraftCommonNameID_DisplayEng        19247
OrganizationID_DisplayEng              11962
OperatorTypeID_DisplayEng               2822
WeightCategoryID_DisplayEng               75
WeightCategoryID_MaxWeightCat              0
WeightCategoryID_MinWeightCat              0
LandingGearID_DisplayEng                9649
WakeTurbulenceCategoryID_DisplayEng     1796
YearOfManuf                                0
MaxTakeOffWeight                           0
NumberOfEngine                             0
DamageLevelID_DisplayEng                1507
DestAirportID_AirportName              25359
DepartAirportID                            0
DepartAirportID_AirportName            22717
FlightPlanTypeID_DisplayEng            31042
OperationTypeID_DisplayEng              3260
CarsSubpartID_DisplayEng               15442
FlightNo                               31695
DangerousGoodEnum_DisplayEng               0
ICAODepart                             22717
ICAODestination                            0
SurvivableEnum_DisplayEng                  0
ICAO_DisplayEng                            0
dtype: int64

,OccID,OccNo,AirportID_AirportName,AirportID_CountryID_DisplayEng,AirportID_ProvinceID_DisplayEng,Location,Latitude,LatEnum_DisplayEng,Longitude,LongEnum_DisplayEng,ICAO,BearingID_Abbr,BearingID_CompassPoint,BearingID_Highest,BearingID_Lowest,BearingID_Middle,CountryID_DisplayEng,Distance,DistanceEnumEng,LocationDescription,OccClassID_DisplayEng,OccDate,OccIncidentTypeID_DisplayEng,OccRegionID_DisplayEng,OccTime,OccTypeID_DisplayEng,TsbInvolveID_DisplayEng,OceanID_DisplayEng,PositionTypeEnum_DisplayEng,ProvinceID_DisplayEng,InitTSBNotifDate,ReportedByID_DisplayEng,RespRegionID_DisplayEng,SeriousIncidentEnum_DisplayEng,TimeZoneID_DisplayEng,IIC_FullName,Summary,CommonName,TotalFatalCount,TotalMinorCount,TotalNoneCount,TotalSeriousCount,TotalUnknownCount,NoAircraftInvolved,InjuriesEnum_DisplayEng,DeployedEnum_DisplayEng,SafetyCommIssuedEnum,AcID,AircraftID,AircraftVersion,RegistrationNo,SerialNo,AircraftTypeID_DisplayEng,AircraftModelID_DisplayEng,AircraftMakeID_DisplayEng,AircraftSeries,AircraftCommonNameID_DisplayEng,OrganizationID_DisplayEng,OperatorTypeID_DisplayEng,WeightCategoryID_DisplayEng,WeightCategoryID_MaxWeightCat,WeightCategoryID_MinWeightCat,LandingGearID_DisplayEng,WakeTurbulenceCategoryID_DisplayEng,YearOfManuf,MaxTakeOffWeight,NumberOfEngine,DamageLevelID_DisplayEng,DestAirportID_AirportName,DepartAirportID,DepartAirportID_AirportName,FlightPlanTypeID_DisplayEng,OperationTypeID_DisplayEng,CarsSubpartID_DisplayEng,FlightNo,DangerousGoodEnum_DisplayEng,ICAODepart,ICAODestination,SurvivableEnum_DisplayEng,ICAO_DisplayEng
0,150172,A17A0047,NaN,NaN,NaN,NaN,46.284740,N,63.644120,W,NaN,NaN,NaN,0.00,0.00,0.0,CANADA,0.0,NaN,"Albany, PEI private grass strip",CLASS 5,7/10/2017 12:00:00 AM,NaN,ATLANTIC,14:15:00,ACCIDENT,RESPONSIBLE,NaN,DDMMSS.SS,PRINCE EDWARD ISLAND,7/10/2017 12:00:00 AM,OWNER OF AIRCRAFT,ATLANTIC,NaN,ADT,"Boothe, Daphne",C-IICE a privately operated Quad City Challeng...,Albany PEI Challenger II Special ultralightC-I...,0,1,0,0,0,0,Yes,No,45,65259,130203,2.0,C-IICE,CH2-0412-LSS-S5,ADVANCED ULTRALIGHT,CHALLENGER 11 SPECIAL,CHALLENGER,CH2-0412-LSS-S50-0210,NaN,NaN,PRIVATE,0-2250 KG (0-4960 LBS),2250,0,TRICYCLE FIXED,LIGHT,2015,435.0,1,SUBSTANTIAL,NaN,0,NaN,NaN,PLEASURE/TRAVEL,RECREATIONAL AVIATION,NaN,No,NaN,\r,\N,COLLISION WITH OBSTACLE(S) DURING TAKEOFF AND ...
1,150171,A17C0081,Industrial Park,CANADA,MANITOBA,Gimli,50.772778,N,96.821389,W,CYGM,NE,Northeast,56.25,33.75,45.0,CANADA,12.0,Nautical miles,NaN,CLASS 5,7/10/2017 12:00:00 AM,ENGINE (i),CENTRAL,13:55:00,INCIDENT,RESPONSIBLE,NaN,DDMMSS.SS,MANITOBA,7/10/2017 12:00:00 AM,OPERATOR,CENTRAL,No,UTC,"ROSS, DAVID",C-GWCP a Piper PA-32-300 aircraft operated by ...,CYGM 12 nm NE MHA Enterprises PA-32-300 C-GWCP...,0,0,1,0,0,0,No,No,45,65262,130204,2.0,C-GWCP,32-40539,AEROPLANE,PA-32-300,PIPER,NaN,NaN,MHA ENTERPRISES,COMMERCIAL,0-2250 KG (0-4960 LBS),2250,0,TRICYCLE FIXED,LIGHT,1968,1542.0,1,MINOR,WINNIPEG/ST. ANDREWS,1680,ST. THERESA POINT,VFR FLIGHT ITINERARY,AIR TRANSPORT,703 - AIR TAXI,C-GWCP,Unknown,CYST,CYAV\r,\N,SYSTEM/COMPONENT FAILURE OR MALFUNCTION (NON-P...
2,150170,A17F0159,San Francisco Intl,UNITED STATES,CALIFORNIA,San Francisco,37.638169,N,122.375428,W,KSFO,NaN,NaN,0.00,0.00,0.0,UNITED STATES,0.0,NaN,NaN,CLASS 5,7/8/2017 12:00:00 AM,RISK OF COLLISION (x),FOREIGN,6:56:00,INCIDENT,ACCREDITED REP 3,NaN,DDMMSS.SS,CALIFORNIA,7/9/2017 12:00:00 AM,FOREIGN AIB,HEAD OFFICE,Yes,UTC,"Harvey, Beverley",C-FKCK an Airbus 320-200 aircraft operated by ...,USA (KSFO) Air Canada A320-200 ACA759 (C-FKCK)...,0,0,140,0,0,0,No,No,45,23548,50927,12.0,C-FKCK,265,AEROPLANE,A320-200,AIRBUS,211,NaN,AIR CANADA,COMMERCIAL,27001-272000 KG (59526-599650 LBS),272000,27001,TRICYCLE ALL RETRACT,MEDIUM,1991,75500.0,2,NONE,San Francisco Intl,1010,Lester B. Pearson Intl,ICAO IFR FLIGHT PLAN,AIR TRANSPORT,705 - AIRLINER,ACA759,No,CYYZ,KSFO\r,Yes\r,NAVIGATION ERRORS (NAV)
3,150169,A17C0080,FORT FRANCES MUNI,CANADA,ONTARIO,FORT FRANCES,48.650000,N,93.500000,W,CYAG,W,West,281.25,258.75,270.0,CANADA,30.0,Nautical miles,NaN,CLASS 5,7/5/2017 12:00:00 AM,DIFFICULT TO CONTROL (iv),CENTRAL,2:15:00,INCIDENT,RESPONSIBLE,NaN,DDMMSS.SS,ONTARIO,7/7/2017 12:00:00 AM,OPERATOR,CENTRAL,No,UTC,"ROSS, DAVID",C-GJVC a Fairchild SA227-DC aircraft operated ...,CYAG 30 nm W Bearskin Lake Air Services SA227-...,0,1,1,0,0,0,Yes,No,45,53068,117548,3.0,C-GJVC,DC-885B,AEROPLANE,SA227-DC,FAIRCHILD,NaN,METRO III,BEARSKIN LAKE AIR SERVICE,COMMERCIAL,5701-27000 KG (12566-59525 LBS),27000,5701,TRICYCLE ALL RETRACT,MEDIUM,1996,7484.0,2,NONE,KENORA,559,FORT FRANCES MUNI,VFR FLIGHT ITINERARY,AIR TRANSPORT,704 - COMMUTER,BLS345,No,CYAG,CYQK\r,\N,TURBULENCE ENCOUNTER (TURB)
4,150168,A17C0079,Baker Lake,CANADA,NUNAVUT,Baker Lake,66.448611,N,92.464444,W,CYBK,NW,Northwest,326.25,303.75,315.0,CANADA,158.0,Nautical miles,NaN,CLASS 5,7/2/2017 12:00:00 AM,NaN,CENTRAL,22:00:00,ACCIDENT,RESPONSIBLE,NaN,DDMMSS.SS,NUNAVUT,7/5/2017 12:00:00 AM,OPERATOR,CENTRAL,NaN,CDT,"ROSS, DAVID",C-GGSV an Aerospatiale AS 350 B-2 aircraft ope...,66 26N 92 27W Great Slave Helicopters AS350-B2...,0,0,3,0,0,0,No,No,45,65241,130202,2.0,C-GGSV,2281,HELICOPTER,AS 350 B2,AEROSPATIALE,NaN,NaN,GREAT SLAVE HELICOPTERS,COMMERCIAL,0-2250 KG (0-4960 LBS),2250,0,SKID,LIGHT,1989,2250.0,1,SUBSTANTIAL,NaN,0,NaN,VFR FLIGHT ITINERARY,AIR TRANSPORT,703 - AIR TAXI,C-GGSV,No,NaN,\r,\N,COLLISION WITH OBSTACLE(S) DURING TAKEOFF AND ...

### <font color=#43599e>Deleting features without data</font>

In [113]:
df = df.drop(columns=['BearingID_Abbr', 'BearingID_CompassPoint', 'AirportID_AirportName', 
              'AirportID_CountryID_DisplayEng', 'Location', 'AirportID_ProvinceID_DisplayEng',
             'ICAO', 'BearingID_Highest', 'BearingID_Lowest', 'BearingID_Middle',
              'Distance','DistanceEnumEng', 'LocationDescription',
              'DistanceEnumEng', 'SeriousIncidentEnum_DisplayEng', 'TimeZoneID_DisplayEng',
             'IIC_FullName','CommonName', 'TotalFatalCount', 'TotalMinorCount', 'TotalNoneCount',
             'TotalSeriousCount', 'TotalUnknownCount', 'NoAircraftInvolved', 'SafetyCommIssuedEnum', 'AcID',
             'AircraftVersion','AircraftID', 'SerialNo', 'AircraftModelID_DisplayEng', 'AircraftSeries', 'AircraftCommonNameID_DisplayEng',
             'WeightCategoryID_MaxWeightCat', 'WeightCategoryID_MinWeightCat', 'MaxTakeOffWeight', 'DestAirportID_AirportName',
             'DepartAirportID', 'DepartAirportID_AirportName', 'FlightPlanTypeID_DisplayEng', 'CarsSubpartID_DisplayEng', 
             'FlightNo', 'DangerousGoodEnum_DisplayEng', 'ICAODestination', 'SurvivableEnum_DisplayEng', 'ICAO_DisplayEng'])

In [114]:
print(df.isnull().sum())

OccID                                      0
OccNo                                      0
Latitude                                   0
LatEnum_DisplayEng                      1423
Longitude                                  0
LongEnum_DisplayEng                     1608
CountryID_DisplayEng                       0
OccClassID_DisplayEng                      0
OccDate                                    0
OccIncidentTypeID_DisplayEng           20182
OccRegionID_DisplayEng                    30
OccTime                                  301
OccTypeID_DisplayEng                       0
TsbInvolveID_DisplayEng                11894
OceanID_DisplayEng                     47168
PositionTypeEnum_DisplayEng                0
ProvinceID_DisplayEng                   2442
InitTSBNotifDate                           0
ReportedByID_DisplayEng                    0
RespRegionID_DisplayEng                  131
Summary                                   97
InjuriesEnum_DisplayEng                    0
DeployedEnum_DisplayEng                  139
RegistrationNo                             0
AircraftTypeID_DisplayEng                  2
AircraftMakeID_DisplayEng               1038
OrganizationID_DisplayEng              11962
OperatorTypeID_DisplayEng               2822
WeightCategoryID_DisplayEng               75
LandingGearID_DisplayEng                9649
WakeTurbulenceCategoryID_DisplayEng     1796
YearOfManuf                                0
NumberOfEngine                             0
DamageLevelID_DisplayEng                1507
OperationTypeID_DisplayEng              3260
ICAODepart                             22717
dtype: int64

### <font color=#43599e>Handling nulls and converting features</font>

#### LatEnum_DisplayEng and LongEnum_DisplayEng

In [150]:
columns_to_include = ["Latitude", "LatEnum_DisplayEng", "Longitude", "LongEnum_DisplayEng", "CountryID_DisplayEng", "OccRegionID_DisplayEng", "OceanID_DisplayEng", 
                      "ProvinceID_DisplayEng", "RespRegionID_DisplayEng"] 

filtered_df_temp = df.copy()
filtered_df_temp = df[
    (df['LatEnum_DisplayEng'].isna() | df['LongEnum_DisplayEng'].isna()) &
    (~df["Latitude"].isna() & df["Latitude"] != 0) &   #Because we will handle it separately
    (~df["Longitude"].isna() & df["Longitude"] != 0)
]

filtered_df_temp = filtered_df_temp[columns_to_include]
filtered_df_temp.head()

,Latitude,LatEnum_DisplayEng,Longitude,LongEnum_DisplayEng,CountryID_DisplayEng,OccRegionID_DisplayEng,OceanID_DisplayEng,ProvinceID_DisplayEng,RespRegionID_DisplayEng
5000,50.033333,NaN,8.566667,E,GERMANY,FOREIGN,NaN,NaN,HEAD OFFICE
5052,51.466667,NaN,0.450000,NaN,UNITED KINGDOM,FOREIGN,NaN,NaN,ONTARIO
5356,51.466667,NaN,0.450000,NaN,UNITED KINGDOM,FOREIGN,NaN,NaN,ONTARIO
5563,51.466667,NaN,0.450000,NaN,UNITED KINGDOM,FOREIGN,NaN,NaN,ONTARIO
5799,50.033333,NaN,8.566667,E,GERMANY,FOREIGN,NaN,NaN,HEAD OFFICE

In [ ]:
unique_countries = filtered_df_temp["CountryID_DisplayEng"].unique()
unique_provinces = filtered_df_temp["ProvinceID_DisplayEng"].unique()

#### Latitude and Longitude
We have 4 columns Latitude	LatEnum_DisplayEng	Longitude	LongEnum_DisplayEng, we could delete the displays and add signs to the coordinates.

In [55]:
#Latitude and Longitude columns are in numeric format
df["Latitude"] = df["Latitude"].astype(float)
df["Longitude"] = df["Longitude"].astype(float)

#Apply signs to Latitude and Longitude based on orientation columns
#LatEnum_DisplayEng: Positive if "N" (North), Negative if "S" (South)
df["Latitude"] = df["Latitude"] * df["LatEnum_DisplayEng"].apply(lambda x: 1 if x == "N" else -1)

#LongEnum_DisplayEng: Positive if "E" (East), Negative if "W" (West)
df["Longitude"] = df["Longitude"] * df["LongEnum_DisplayEng"].apply(lambda x: 1 if x == "E" else -1)

#Drop the orientation columns since they are no longer needed
df.drop(columns=["LatEnum_DisplayEng", "LongEnum_DisplayEng"], inplace=True)

Now we can handle null values. We dont have nulls but we have 0,0 values.

In [57]:
from preprocessing.constants_preprocessing import OCEAN_COORDINATES, OCEAN_PROVINCES_COORDINATES, COUNTRY_PROVINCE_COORDINATES, COUNTRIES_COORDINATES

In [58]:
df_handling_lat_lon = df.copy(); 
filtered_df_lat_lon = df[(df_handling_lat_lon["Latitude"] == 0) & (df_handling_lat_lon["Longitude"] == 0)]
print(f"Number of rows: {len(filtered_df_lat_lon)}")

Number of rows: 1501

In [59]:
filtered_df_lat_lon = filtered_df_lat_lon[columns_to_include]
filtered_df_lat_lon.head(10)

,Latitude,Longitude,CountryID_DisplayEng,OccRegionID_DisplayEng,OceanID_DisplayEng,ProvinceID_DisplayEng,RespRegionID_DisplayEng
14,-0.0,-0.0,INTERNATIONAL WATERS,FOREIGN,NORTH ATLANTIC OCEAN,NaN,HEAD OFFICE
24,0.0,-0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
30,-0.0,-0.0,INTERNATIONAL WATERS,FOREIGN,NORTH ATLANTIC OCEAN,NaN,HEAD OFFICE
86,0.0,-0.0,CANADA,ATLANTIC,NaN,NOVA SCOTIA,ATLANTIC
100,0.0,-0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
234,-0.0,-0.0,CANADA,PACIFIC,NaN,BRITISH COLUMBIA,PACIFIC
449,-0.0,-0.0,UNITED STATES,FOREIGN,NaN,NORTH CAROLINA,HEAD OFFICE
467,0.0,-0.0,CANADA,ATLANTIC,NaN,QUEBEC,ATLANTIC
890,-0.0,-0.0,CANADA,QUEBEC,NaN,QUEBEC,QUEBEC
1224,-0.0,-0.0,CANADA,QUEBEC,NaN,QUEBEC,QUEBEC

In [61]:
def calculate_coordinates(row):
    if(row["OceanID_DisplayEng"] is not None and not pd.isna(row["OceanID_DisplayEng"])):
        return OCEAN_COORDINATES[row["OceanID_DisplayEng"]]
        
    elif row["CountryID_DisplayEng"] == "INTERNATIONAL WATERS":
        if(row["OceanID_DisplayEng"] is not None): 
            return OCEAN_COORDINATES[row["OceanID_DisplayEng"]]
            
    elif(row["OccRegionID_DisplayEng"] in OCEAN_PROVINCES_COORDINATES):
        if(row["ProvinceID_DisplayEng"] in OCEAN_PROVINCES_COORDINATES[row["OccRegionID_DisplayEng"]]):
            return OCEAN_PROVINCES_COORDINATES[row["OccRegionID_DisplayEng"]][row["ProvinceID_DisplayEng"]]

    elif(row["CountryID_DisplayEng"] in COUNTRY_PROVINCE_COORDINATES):
        if(row["ProvinceID_DisplayEng"] in COUNTRY_PROVINCE_COORDINATES[row["CountryID_DisplayEng"]]):
            return COUNTRY_PROVINCE_COORDINATES[row["CountryID_DisplayEng"]][row["ProvinceID_DisplayEng"]]
    
    elif(pd.isna(row["ProvinceID_DisplayEng"]) and row["OccRegionID_DisplayEng"] == "FOREIGN"):
        if(row["CountryID_DisplayEng"] in COUNTRIES_COORDINATES):
            return COUNTRIES_COORDINATES[row["CountryID_DisplayEng"]]
    return [0,0]

In [62]:
for idx, row in filtered_df_lat_lon.iterrows():
    new_lat, new_lon = calculate_coordinates(row)  #New values
    #Update data in original df
    df_handling_lat_lon.at[idx, "Latitude"] = new_lat        
    df_handling_lat_lon.at[idx, "Longitude"] = new_lon

In [63]:
columns_to_include = columns_to_include.drop(columns=["LatEnum_DisplayEng", "LongEnum_DisplayEng"])
filtered_df_lat_lon = df_handling_lat_lon[(df_handling_lat_lon["Latitude"] == 0) & (df_handling_lat_lon["Longitude"] == 0)]
filtered_df_lat_lon = filtered_df_lat_lon[columns_to_include]
filtered_df_lat_lon.head(10)

,Latitude,Longitude,CountryID_DisplayEng,OccRegionID_DisplayEng,OceanID_DisplayEng,ProvinceID_DisplayEng,RespRegionID_DisplayEng
3887,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
6330,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
7321,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,QUEBEC
8046,0.0,0.0,CANADA,WESTERN,NaN,NaN,WESTERN
9519,0.0,0.0,UNITED KINGDOM,WESTERN,NaN,NaN,WESTERN
15081,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
15363,0.0,0.0,UNKNOWN,FOREIGN,NaN,NaN,HEAD OFFICE
17944,0.0,0.0,UNITED STATES,FOREIGN,NaN,NaN,ONTARIO
22465,0.0,0.0,MEXICO,QUEBEC,NaN,NaN,QUEBEC
22832,0.0,0.0,HONG KONG,WESTERN,NaN,NaN,WESTERN

In [64]:
print(f"Number of rows: {len(filtered_df_lat_lon)}")

Number of rows: 36

We could delete those 36 registers as we dont have enough information to know its approximate location

In [66]:
#Get index of the rows to delete 
rows_to_remove = df_handling_lat_lon[(df_handling_lat_lon["Latitude"] == 0) & 
                                     (df_handling_lat_lon["Longitude"] == 0)].index
#Removing the rows 
df_handling_lat_lon = df_handling_lat_lon.drop(rows_to_remove)

#Reseting index
df_handling_lat_lon.reset_index(drop=True, inplace=True)

In [67]:
df = df_handling_lat_lon.copy()

### <font color='purple'>FullData_V2</font>
Contains the dataset with features to use

In [69]:
exportDataVersion(df, 2)

File fullData_V2.csv created

#### CountryID_DisplayEng
Doesn't have null values 
#### OccClassID
It has CLASS 5 for the majority of the dataset, we could delete this feature

In [71]:
df = df.drop(columns=['OccClassID_DisplayEng'])

#### OccDate
We could delete the hour in the date as we have a time feature and have yyyy-MM-dd

In [73]:
#Converting the OccDate column to datetime format
df["OccDate"] = pd.to_datetime(df["OccDate"], format="%m/%d/%Y %I:%M:%S %p")

#Removing the time part by formatting to only include the date
df["OccDate"] = df["OccDate"].dt.date

#### OccIncidentTypeID_DisplayEng
This value has many null values because it only has values when the OccType is an incident.
#### OccRegionID_DisplayEng
As we have just have 10 values, they are not specific and we have the field ProvinceID_DisplayEng, we could delete it.

In [75]:
region_values = df["OccRegionID_DisplayEng"].unique()
print(region_values)

['ATLANTIC' 'CENTRAL' 'FOREIGN' 'ONTARIO' 'PACIFIC' 'QUEBEC' 'WESTERN'
 'HEAD OFFICE' 'NORTH ATLANTIC' nan]

In [76]:
df = df.drop(columns=["OccRegionID_DisplayEng"])

#### OccTime

# Handling OccTypeID_DisplayEng

In [ ]:
# should be deleted because it is a system generated number of DB management
df = df.drop(columns=["OccTypeID_DisplayEng"])

# Handling TsbInvolveID_DisplayEng

In [ ]:
df["TsbInvolveID_DisplayEng"].unique()

In [ ]:
# TODO: decide what to do with this column

# Handling OceanID_DisplayEng

In [ ]:
df["OceanID_DisplayEng"].unique()

In [ ]:
null_oceanId_rows = df[df['OceanID_DisplayEng'].isnull()]
null_oceanId_rows.head()

In [ ]:
# not important cell
null_oceanId_rows = df[df['RespRegionID_DisplayEng'].isnull()]
null_oceanId_rows.head()